@import url('https://fonts.googleapis.com/css?family=Oranienbaum|Rubik&display=swap');

:root {
    font-family: 'Rubik', sans-serif;
    --main-color: #5b1a04;
    --accent-color: #ffd8ad;
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}

h1, h2, h3, p, nav, div, header, footer {
    margin: 0;
    padding: 0;
}

header nav .logo img {
    display: flex;
    max-height: 50px;
    justify-content: center;
    align-self: center;
    margin-left: 20px;
    padding-top: 10px;
}

header nav .menu {
    font-family: 'Oranienbaum', serif;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-right: 20px;
    padding-top: 20px;
}

header nav .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 0 10px;
    text-shadow: 0 1px 0 white;
}

header nav .menu a:hover {
    color: var(--accent-color);
}

header nav .menu li {
        display: flex;
        align-items: center;
}

@media (min-width: 550px) {
    header nav {
        display: flex;
        align-items: center;
    }

    header .menu {
        flex: 1;
    }
}

/*банер*/
header .banner {
    background-image: url(../img/couple-celebrating-new-year.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 200px;
    margin-top: 10px;
    margin-bottom: 30px;
}

header .banner h1 {
    font-family: 'Oranienbaum', serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    align-self: flex-start;
    margin-top: 50px;
    margin-left: 50px;
    width: 20%;
}

@media (min-width: 550px) {
    header .banner {
        display: flex;
        min-height: 500px;
    }

    header .banner h1 {
        font-size: 2rem;
        width: 30%;
    }
}

h1 {
    font-family: 'Oranienbaum', serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    margin: 20px;
}

h1:hover {
    color: var(--accent-color);
}

/*ЗРОБИТИ СТИЛЬ
hr {

}
*/


/*галерея*/
main #gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;;
    margin: 0;
}

main #gallery img {
    height: 176px;
    margin: 2px;
}



/*новий рік 2020 */
main #new-year-2020 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main #new-year-2020 p {
    display: flex;
    text-align: center;
    margin: 20px; /*поставити число*/
}

/* ADD none HR
main #new-year-2020 .text-and-photo hr {
    display: ; 
}
*/

main #new-year-2020 img {
    height: 250px;
    margin: 20px;
}


@media (min-width: 750px) {
    main #new-year-2020 {
        flex-direction: row-reverse;
    }

    main #new-year-2020 p {
        text-align: left;
        margin-right: 60px;
    }
}

/*   ADD HR
@media (min-width: 850px) {
    main #new-year-2020 .text-and-photo hr {
        display: ;
    }
}*/


/*вартість квитка*/

main #price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #price li {
    text-align: center;
    list-style-type: none;
    margin-top: 20px;
}

/* передивитися чи потрібно
main #price #devide-line {
    margin-top: 1px;
    padding-top: 10px;
    border-top: 2px solid; 
    width: 600px;
}
*/

main #price hr {
    width: 600px;
}

main #price img {
    height: 250px;
    margin: 20px;
}

/*ще подивитися до абзаців*/
main #hurry-up {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px;
}


@media (min-width: 800px) {
    main #price {
        flex-direction: row-reverse;
    }

    main #price li {
        text-align: left;
        margin-right: 80px;
        margin-top: 0px;
    }
}




/*блок "чому обрати"*/
main #show-program {
    background-color: var(--main-color);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    
}

main #show-program h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--accent-color);
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 10px;
    font-weight: normal;
}

main #show-program h3:hover {
    color: white;
}

main #show-program li {
    display: flex;
    color: white;
    padding-top: 1em;
    margin-right: 20px;
  
}

    /*  зробити гарну лінію
    main #price #for-children {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }
    */


/*банер під годинник*/

main .banner-countdown-timer {
    background-image: url(../img/happy-new-year-celebration.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 20px;
}


main .banner-countdown-timer h3 {
    font-family: 'Oranienbaum', serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    font-weight: normal;
}

main .banner-countdown-timer .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;  
}

main .banner-countdown-timer .container .count {
    margin: 40px 0;
}

main .banner-countdown-timer .container .count .countd {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid;
    margin: 0 30px;
    font-size: 12px;
    border-radius: 5%;
    overflow: hidden;
    color: white;
    text-align: center;
    font-family:'Oranienbaum', serif;
}

main .banner-countdown-timer .container .count .countd span {
    display: block;
    font-size: 26px;
    margin-top: 14px;
    color: white;
}

@media (min-width: 550px) {
    main .banner-countdown-timer {
        display: flex;
        min-height: 500px;
    }
}




/*контакти*/

/*
footer #contacts .contact-container .contact-information {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    

}
*/

footer #contacts .contact-container .contact-information {
    display: grid;
    grid-template-columns: 150px 1fr 5fr 150px;
    grid-template-rows: 25% 25% 25% 25%;
    justify-items: center;
}

footer #contacts .contact-container .contact-information p {
    grid-area: 2 / 2 / 2 / 2;
}

footer #contacts .contact-container .contact-information h4 {
    color: var(--main-color);
    display: none;
}

footer #contacts .contact-container .contact-information h4:hover {
    color: var(--accent-color);
}

footer #contacts .contact-container .contact-information .icon img {
    grid-area: 1 / 1 / 1 / 1;
    width: 30px;
    height: 30px;  
}

footer #contacts .contact-container .contact-information hr {
    width: 600px;
}

footer #contacts .contact-container .contact-information p {
    width: auto;
}


@media (min-width: 550px) {
    footer #contacts .contact-container {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
       
    
    }

    footer #contacts .contact-container .contact-information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer #contacts .contact-container .contact-information h4 {
        display: flex;
    }

    footer #contacts .contact-container .contact-information hr {
        display: none;
    }
}


/*
@media (min-width: 550px) {
    footer #contacts .contact-container {
        display: flex;
        justify-content: space-around;
    }    
   
    footer #contacts .contact-container .contact-information {
        flex-direction: column;
    }
}*/






/*карта*/





/*форма*/
footer #down {
    background-color: var(--main-color);
    margin-top: 30px;
    padding: 30px;
}


footer #down h3 {
    color: white;
    text-align: center;
    font-weight: normal;
}

footer #form h3:hover {
    color: var(--accent-color);
}

footer #form {
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/*копірайт+іконки*/
footer #page-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
      
}

footer #page-bottom .links {
    display:  flex;
    
}


footer #page-bottom .links .social-icon {
    width: 30px;
    height: 30px;
    margin: 5px;  
    
}

footer #copyright p {
    font-size: 0.8rem;
}

@media (min-width: 550px) {
    footer #page-bottom {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 30px;
    }

    footer #copyright p{
        align-self: flex-start;
    }
}



/*
footer #page-bottom {
   display: flex;
   flex-direction: row;
   flex: 1;
 
}

footer #page-bottom .links li {
    display: flex;
    
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}


footer #page-bottom #copyright {
    align-self: center;
}


@media (min-width: 600px) {
    footer #page-bottom {
        flex-direction: row-reverse;
    }

    footer #page-bottom #copyright {
        align-self: flex-start;
    }
}   
*/
